<table *ngIf="artist_info" border="1">
  <thead>
  <tr>
    <th>Name</th>
    <th>Mbid</th>
    <th>Artist URL</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <!--
    <td> <a routerLink="/artist/{{p.artist.mbid}}">{{p.name}} lol {{p.artist.mbid}} </a>

    </td>
    -->
    <td>{{artist_info.name}}</td>
    <td>{{artist_info.mbid}}</td>
    <td>{{artist_info.url}}</td>
  </tr>
  </tbody>
</table>


<ng-container *ngIf="topSongs"> 




<h2> List contains: {{topSongs.length}} songs and artists</h2>
  <ul>   
    <li *ngFor="let p of topSongs; let i = index">  {{i}}
      <app-song-child 
        [songToFind]="p">
      </app-song-child>
    </li>
</ul>
  





</ng-container> 