<table *ngIf="results" border="1">
  <thead>
  <tr>
    <th>Name</th>
    <th>Duration</th>
    <th>Artist Mbid</th>
    <th>Playcount</th>
    <th>Listeners</th>
    <th>Mbid</th>
    <th>URL</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let p of results">
    <td> <a routerLink="/artist">{{p.name}} lol {{p.artist.mbid}} </a>

    </td>
    <td>{{p.duration}}</td>
    <td>{{p.artist.mbid}}</td>
    <td>{{p.playcount}}</td>
    <td>{{p.listeners}}</td>
    <td>{{p.mbid}}</td>
    <td>{{p.url}}</td>
  </tr>
  </tbody>
</table>
